

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
  
}



#root {
  max-width: var(--root-max-width);
  min-height: 100vh;
  margin: 0 auto;
  
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body{
  background-image: url('../images-gifs/b_strobe.gif');
  
  
}

.top-nav{
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  font-family: 'LeviWindows', sans-serif;
  background-image: url('../images-gifs/scifi_banner.jpg');
  background-size: contain;
  border-radius: 10px;
  
}

.top-nav ul{
  margin-left: 16px;
}

.bottom-nav{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  width: var(--root-max-width);
  border-radius: 10px;
}

.marquee{
  
  font-family: 'LeviWindows', sans-serif;
  
  color: aliceblue;
}

.marquee img{
  height: auto;
  flex-shrink: 0;
  justify-content: space-between;
  margin-right: 35px;
}

.gap-2 {
  gap: 1.5rem;
}

.flex{
  display: flex;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  
}

.main-popup{
  font-family: 'LeviWindows', sans-serif;
}



.projects-page{
  display: relative;
  margin-top: 2rem;
  height: auto;
}

.project-cards{
  display: flex;
  transition: all 0.5s ease-in-out;
}

#project-card1{
  position: relative;
}



.prop1{
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  bottom: 1;
  left: 1;
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.notfound-prop{
  font-family: 'LeviWindows', sans-serif;
  font-size: 24px;
}

.project-card1{
  font-family: 'LeviWindows', sans-serif;
  position: absolute;
}

.project-card2{
  font-family: 'LeviWindows', sans-serif;
  position: absolute;
}

.project-card2 li{
  list-style-type: none; /* Remove default bullet point */
  background: url('../images-gifs/SAPPHIRErotating.gif') no-repeat left center; /* Add your image */
  background-size: 20px 20px; /* Size of your image */
  padding-left: 30px; /* Space for the image */
  font-size: 18px;
}

.project-card3{
  font-family: 'LeviWindows', sans-serif;
  position: absolute;
}

.project-card4{
  font-family: 'LeviWindows', sans-serif;
  position: absolute;
}

.project-card4 p{
  font-size: 14px;
}

.project-card5{
  font-family: 'LeviWindows', sans-serif;
  position: absolute;
}

.project-card5 p{
  font-size: 14px;
}

.project-card6{
  font-family: 'LeviWindows', sans-serif;
  position: absolute;
}

.small-font{
  font-size: 14px;
}

.icons{ 
  justify-content: end;

}

.window-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-page{
  display: relative;
  width: 100%;
  height: 85vh;
}

.gallery-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  
}

.gallery-prop{
  font-family: 'LeviWindows', sans-serif;
  position: relative;
  margin: 10px;
}

.gallery-image{
  width: 250px;
  height: auto;
  display: block;
  
}

.blog-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'LeviWindows', sans-serif;
  
}

.popup-window{
  position: absolute;
  width: 600px;
  height: 600px;
}

.window-content{
  display: flexbox;
  width: 560px;
  height: 490px;
  overflow: 'hidden';
}

.window-frame{
  display: flex;
  width: 60%;
  height: 50%;
  overflow: hidden;
  margin:  1rem;
  justify-content: center;
  object-fit: contain;
}

.window-frame img{
  object-fit: contain;
}

.frame-image img{
  max-width: 100%;
  object-fit: contain;
}

.window-footer{
  display: flex;
  width: 615px;
  margin-top: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.reading-page{
  position: relative;
  margin-top: 2rem;
  height: 80vh; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-page{
  position: relative;
  margin-top: 2rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'LeviWindows', sans-serif;

}

.skills-card{

}

.skills-window{
  height: 30%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin: 1rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: auto;
}

.skills-window img{
  max-width: 100%;
  height: auto;
  display: block;

}

.skills-window img:hover{
  transform: scale(1.2);

}

.icon {
  height: 40px;
  pointer-events: none;
  transform-origin: 100px 100px;
}

.tech-stack{
  right: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}