:root {
  
  line-height: 1.5;
  font-weight: 400;
  
  font-family: sans-serif;

  color-scheme: light dark;
  color: rgba(7, 6, 6, 0.87);
  background-color: #fdfdfd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --root-max-width: 1600px;
  --banner: url('../images-gifs/whtsparkle.gif');
  --select: url('../images-gifs/SAPPHIRErotating.gif');
  --nav-banner: url('../images-gifs/border-dungeonbkground.gif');
}

@font-face {
  font-family: 'Tachyo';
  src: url(../fonts/Tachyo-1.0.0.otf);
}

@font-face {
  font-family: 'Kingthings';
  src: url(../fonts/Kingthings\ Embroidery.ttf);
}

@font-face {
  font-family: 'LeviWindows';
  src: url(../fonts/Windows_Regular.ttf);
}


a {
  font-weight: 500;
  color: #db4b08;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
  
}


button {
  
  font-family: inherit;
  transition: border-color 0.25s;
}
button:hover {
  border-color: inherit;
  background-color: inherit;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

